body{
    overflow-x: hidden;
    background-color: #121212;
}

.navbar{
    opacity:1;
}

.tabs{
    display: flex;
    justify-content: center;
}

.nav{
    margin-top: 6%;
}

.nav-tabs{
    border-bottom: none;
}

.nav-link{
    background-color: transparent;
    color: white;
    border-radius: 25px !important;
}

.nav-link:hover{
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: white;
    border: none;
    outline: none;
}

.tab-content{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.destinations-grid{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 50px;
}

.destination-container{
    text-align: center;
    color: white;
    font: 600 3em "Poppins";
}

.carousel > p{
    position: absolute;
    left: 0;
    font: 500 0.6em 'Poppins';
    background: #007bff;
    padding: 10px;
    border-radius: 12px 0 0 0;
    z-index: 999;
}

.carousel > button{
    position: absolute;
    bottom:5%;
    right:5%;
    border-radius: 25px;
    background: #000;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #000;
    font: 500 0.5em 'Poppins';
    z-index:999;
}

.material-icons{
    font-size: 1em !important;
}

.fav-icon{
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    color: #ffdb58;
    z-index: 999;
}

.far{
    font-weight: 10;
}

.carousel, .carousel-inner{
    height: 450px;
    border-radius: 15px;
    width: 40vw;
}

.carousel-item > img{
    height: 800px;
    width: 100vw;
}