html {
  scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #121212;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

.navbar{
    opacity:1;
}

.tabs{
    display: flex;
    justify-content: center;
}

.nav{
    margin-top: 6%;
}

.nav-tabs{
    border-bottom: none;
}

.nav-link{
    background-color: transparent;
    color: white;
    border-radius: 25px !important;
}

.nav-link:hover{
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: white;
    border: none;
    outline: none;
}

.tab-content{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.recommendations-header{
    margin-bottom: 5%;
    font: 600 2em "Poppins";
    text-align: center;
    color: #fff;
}

.destinations-grid{
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 50px;
}

.destination-container{
    text-align: center;
    color: white;
    font: 600 3em "Poppins";
}

.carousel > p{
    position: absolute;
    left: 0;
    font: 500 0.6em 'Poppins';
    background: #007bff;
    padding: 10px;
    border-radius: 12px 0 0 0;
    z-index: 999;
}

.carousel > button{
    position: absolute;
    bottom:5%;
    right:5%;
    border-radius: 25px;
    background: #000;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #000;
    font: 500 0.5em 'Poppins';
    z-index:999;
}

.material-icons{
    font-size: 1em !important;
}

.fav-icon{
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    color: #ffdb58;
    z-index: 999;
}

.far{
    font-weight: 10;
}

.carousel, .carousel-inner, .destination-card > img{
    height: 450px;
    border-radius: 15px;
    width: 40vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carousel-item > img{
    width: 100%;
}

.search-img{
    height: 60vh;
    width: 70vw;
    object-fit: cover;
    border-radius: 10px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #fff;
  border-right: none;
  padding: 5px;
  height: 60px;
  border-radius: 30px 0 0 30px;
  outline: none;
  font-size: 1.8em;
  color: #000;
  padding-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.searchTerm:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton:focus{
  outline: none;
}

.searchButton:active{
    transform: translateY(2px);
}

.searchButton {
  width: 80px;
  height: 60px;
  border: 1px solid #fff;
  background: #fff;
  text-align: center;
  color: #000;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.searchButton:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.searchButton > i{
    font-size: 1.8em;
    font-weight: 500;
}

.filter-section{
    transform: translateY(100px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter-container{
    width: 20vw;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.filter-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.filter-container > p{
    text-align: center;
    color: #000;
    font: 600 1.75em 'Oswald';
}

.filter-btns{
    display: flex;
    justify-content: space-evenly;
}

.filters-search-btn{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.filters-search-btn:hover{
    opacity: 0.75;
}

.filters-search-btn:active{
    transform: translateY(2px);
}

.dropdown-menu:hover{
    cursor: pointer;
}

.climate-option{
    display: none;
}

.terrain-option{
    display: none;
}

.famous-for-option{
    display: none;
}

#search-results-container{
    width: 80vw;
    margin-top: 10%;
    margin-bottom: 5%;
    display: none;
    font: 600 3em 'Oswald';
    color: white;
    text-align: center;
}
