body {
    background-color: #121212;
    overflow: hidden;
}

.navbar{
    background-color: #000 !important;
    opacity: 1;
}

.container{
    position: relative;
    margin-top: 7%;
    height: max-content;
    width: 60vw;
    padding: 2em;
    background: #000;
    border-radius: 12px;
    color: gray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.container-header{
    padding: 20px;
    text-align: center;
    font: 600 2em "Poppins";
}

.profile-container{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    place-items: center;
    gap: 2em;
}

form{
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    font: 500 1.1em "Poppins";
}

form input, form select{
    border-radius: 10px;
    border: none;
    padding: 5px;
}

input:nth-of-type(2){
    color: #f0f0f0;
    font-size: 0.8em;
}

.update-btn{
    grid-column: span 2;
    grid-row-start: 10;
    padding: 0.5em;
    background: #42b72a;
    font: 600 1em "Poppins";
    border-radius: 10px;
    border: none;
    color: #f0f0f0;
}

.update-btn:focus{
    outline: none;
    transform: translateY(2px);
}

.img-section{
    align-self: start;
}

.img-section img{
    border-radius: 50%;
}

.user-name{
    font: 600 1em "Poppins";
    color: #f0f0f0;
    margin-top: 10%;
    text-align: center;
}

.form-msg{
    position: absolute;
    bottom: 10%;
}