{% extends 'home/BaseHome.html' %}
{% load static %}

{% block head %}
<title>TravelMate - Home</title>
<script>
    $(document).ready(function(){
      var div = document.getElementById('bg-img');
      const backgrounds = ["{% static 'images/home-bg3.jpg' %}","{% static 'images/home-bg.jpg' %}",
      "{% static 'images/home-bg2.jpg' %}","{% static 'images/home-bg4.jpg' %}"];
      var current = 0;

      function nextBackground() {
          div.style.backgroundImage = 'url(' + backgrounds[current = ++current % backgrounds.length] + ')';
         setTimeout(nextBackground, 5000);
         }
         setTimeout(nextBackground, 5000);
           div.style.backgroundImage = 'url(' + backgrounds[0] + ')';

      $('.nav-item').eq(2).css("opacity","1");
    });
</script>
{% endblock %}
{% block auth %}
{% if user.is_authenticated %}
<div class="nav-item">
<div class="dropdown show">
  <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="profile-img" src="{{ profile_img_url }}" />
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Edit Profile</a>
    <a class="dropdown-item" href="/auth/logout">Logout</a>
  </div>
</div>
</div>
{% else %}
<div class="nav-item" onclick="location.href='/auth/login'">
    Login
</div>
{% endif %}
{% endblock %}
{% block body %}
<div id="bg-img"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}