{% extends 'home/BaseHome.html' %}
{% load static %}
{% block head %}
<title>TravelMate - Profile</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="container-header">Profile Settings</div>
    <div class="profile-container">
        <div class="img-section">
            <img name="photo" width="150px" src="{{ profile_img_url }}">
            <div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="form-msg" style="color:{{msgColor}}">{{ msg }}</div>
        </div>
        <div class="fields-section">
            <form method="POST" action="/profile/">
                {% csrf_token %}
                <label>Email</label><input disabled value="{{user.email}}"/>
                <label>First Name</label>{{ form.first_name }}
                <label>Last Name</label>{{ form.last_name }}
                <label>Mobile Number</label>{{ form.phone }}
                <label>Date Of Birth</label>{{ form.dob }}
                <button class="update-btn" type="submit">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}