*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    min-height: 100vh;
    width: 100%;
}

.sign-up-card{
    background-color: #222;
    color: #fff;
    width: 350px;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom:10px;
}

.sign-up-card h3{
    font:500 24px "nunito";
    margin-bottom: 30px;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-div label{
    margin-bottom: 5px;
}

.input-div input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #1B98F5;
    border-radius: 5px;
    transition: 0.4s ease;
}

.input-div input:focus{
    outline: none;
    border: 2px solid #2827CC;
}

.btn{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(45deg, #1B98F5, #23C4ED);
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 0.4s ease;
}

.btn:hover{
    background: linear-gradient(45deg, #383CC1, #23C4ED);
    cursor: pointer;
}

p a{
    margin-left: 5px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
}

.icons-container,.header{
	display:flex;
	justify-content:center;
}

img{
	margin-top: 10px;
	cursor:pointer;
}

.google-icon{
	width:40px;
	height:45px;
}

.fb-icon{
	width:75px;
	height:45px;
}