{% extends "account/BaseAuth.html" %}
{% load static %}
{% load socialaccount %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <title>TravelMate - Login</title>
    <script>
        $(document).ready(function(){
            setTimeout(function(){$('.header').css("opacity","1")},400);
            setTimeout(function(){$('.sign-up-card').css("opacity","1")},800);
            setTimeout(function(){$('.quote').css("opacity","1")},1400);
        })
    </script>
    {% endblock %}

    {% block body %}
    <div class="container">
        <div class="welcome">
            <div class="header">Welcome to TravelMate</div>
            <div class="quote">"A journey of a thousand miles<br>begins with a single step"<div style="margin-left:auto;font-size:0.8em;">-Lao Tzu</div></div>
        </div>
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="sign-up-card align-self-start">
                {{ form.as_p }}
                <button class="btn-login" type="submit">Log In</button>
                <div class="icons-container">
                    <img class="google-icon" src="https://img.icons8.com/color/48/000000/google-logo.png" onclick="location.href='{% provider_login_url 'google' %}'"/>
                    <img class="fb-icon" src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                </div>
            </div>
            <div class="sign-up-card">
                <p style="text-align:center;">Don't have an account?</p>
                <button class="btn-signup" onclick="location.href='../signup/'">Sign Up</button>
            </div>
        </form>
    </div>
    {% endblock %}