{% extends "account/BaseAuth.html" %}
{% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>TravelMate - Login</title>
    <script>
        $(document).ready(function(){
            setTimeout(function(){
            $('.welcome').css("opacity","1");
            setTimeout(function(){
                $('.sign-up-card').css("opacity","1");
            },300);
            },300);
        })
    </script>
    {% endblock %}

    {% block body %}
    <div class="container">
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="sign-up-card align-self-center">
                {{ form.as_p }}
                <button class="btn-login" type="submit">Log In</button>
                <div class="icons-container">
                    <div style="margin-right:auto; padding:20px">
                        <p>or Login with..</p>
                    </div>
                    <img class="google-icon" src="{% static 'images/goog.png' %}" alt="Google">
                    <img class="fb-icon" src="{% static 'images/fb.png' %}" alt="Facebook" >
                </div>
            </div>
            <div class="sign-up-card">
                <p style="text-align:center;">Don't have an account?</p>
                <button class="btn-signup" onclick="location.href='../signup/'">Sign Up</button>
            </div>
        </form>
        <div class="welcome align-self-start">
            Welcome to TravelMate...
        </div>
    </div>
    {% endblock %}