{% extends "account/BaseAuth.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<title>SIGN UP</title>
<script>
    $(document).ready(function(){
        setTimeout(function(){
        $('.welcome').css("opacity","1");
        setTimeout(function(){
            $('.sign-up-card').css("opacity","1");
        },300);
        },300);
    })
</script>
{% endblock %}

{% block body %}
<form method="POST" action="{% url 'account_signup' %}">
    <div class="sign-up-card">
            {% csrf_token %}
            {{ form.as_p }}
        <button class="btn">Sign Up</button>
    </div>
</form>
{% endblock %}